<p-table 
  styleClass="p-datatable-gridlines p-datatable-sm mt-4"
  [value]="financialData"
  [scrollable]="true" 
  scrollHeight="700px"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[5, 10, 20]"
  sortMode="multiple"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
        <p>Financial Statement</p>
        <p>YYYY-MM-DD to YYYY-MM-DD</p>
        
    </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Date</th>
          <th>Category</th>
          <th>Income</th>
          <th>Outlay</th>
          <th>Total</th>
          <th>Actions</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-financialData>
      <tr class="text-base">
        <td>{{ financialData.date }}</td>
        <td>{{ financialData.categoryDTO.name }}</td>

        @if (getTypeCatalogue(financialData.categoryDTO) == 1)
        {
          <td>{{ financialData.amount | currency }}</td>
          <td></td>
        }
        @else
        {
          <td></td>
          <td>{{ financialData.amount | currency }}</td>
        }

        <td>{{ financialData.total | currency }}</td>

        <td class="text-center">
            <p-button 
              styleClass="h-7 !w-9 !mr-1"
              size="small" 
              severity="info"
              icon="pi pi-file-edit" 
            />
            <p-button
              styleClass="h-7 !w-9"
              size="small"
              severity="danger" 
              icon="pi pi-trash" 
            />
        </td>
    </tr>
  </ng-template>
</p-table>