<div class="card flex justify-center">
  <p-toast />
</div>

<!-- 
  The exclamation marks in the attribute class works as a modifier
  that indicates we will use a tailwind class instead others. 
-->
<div class="!grid !grid-cols-12">
  <div class="!col-span-2 pl-3">
    <p class="mt-5 !mb-12 text-lg font-semibold">
      <span class="pi pi-filter"></span>
      Filter Accounts
    </p>

    <form [formGroup]="filterForm" (ngSubmit)="filterAccounts()">
      <div class="w-full mb-5">
        <p-floatLabel>
          <p-datepicker 
            inputId="init_date" 
            formControlName="init_date"
            [showButtonBar]="true" 
            styleClass="h-9"
            dateFormat="yy-mm-dd"
            [showIcon]="true"
            [iconDisplay]="'input'"
          />
          <label for="init_date">Start Date:</label>
        </p-floatLabel>
      </div>
    
      <div class="w-full mb-5">
        <p-floatLabel>
          <p-datepicker 
            inputId="end_date" 
            formControlName="end_date"
            [showButtonBar]="true" 
            styleClass="h-9"
            dateFormat="yy-mm-dd"
            [showIcon]="true"
            [iconDisplay]="'input'"
          />
          <label for="end_date">End Date:</label>
        </p-floatLabel>
      </div>
      <div class="w-full mb-5">
        <p-floatlabel>
            <p-select 
              id="filter-statement"
              formControlName="statementFilter" 
              [options]="statementList"
              [showClear]="true"
              optionLabel="name"
              optionValue="id"
              styleClass="h-9 w-full items-center"
              panelStyleClass="block w-full border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 p-1"
              [filter]="true"
              filterBy="name"
            />
            <label for="filter-statement" class="">Statement Filter:</label>
          </p-floatlabel>
      </div>
    
      <div class="w-full mb-5">
        <p-floatLabel>
            <p-multiselect
              [options]="categoryList"
              display="chip"
              formControlName="categoryFilter"
              optionLabel="name"
              optionValue="id"
              styleClass="h-9 w-full items-center"
              panelStyleClass="block w-full border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 p-1"
              filterBy="name"
              size="small"
            />
            <label for="category-statement" class="">Category Filter:</label>
          </p-floatLabel>
      </div>
    
      <div class="mb-5">
        <p-button size="small" type="submit" label="Search" styleClass="h-9 w-full"/>
      </div>
    </form>
  </div>

  <div class="col-span-10 pr-4 !ml-10">
    <app-account-create
      [categoryList]="categoryList"
      (onSubmitEvent)="onSubmit($event)"
      (errorRequestEvent)="errorRequestToast($event)"
    ></app-account-create>

    <app-account-table 
      [financialDataList]="financialDataList"
      [categoryList]="categoryList"
      (onSubmitEvent)="onSubmit($event)"
      (errorRequestEvent)="errorRequestToast($event)"
      [statementName]="statementName"
      [dateStart]="dateStart"
      [dateEnd]="dateEnd"
    ></app-account-table>
  </div>
</div>
